@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary: #805ff8;
  --primary-light: #9d93f3;
  --dark: #141414;
  --text-dark: #333;
  --text-light: #f4f4f4;
  --bg: #fff;
  --bg-light: #f4f4f4;
  --icon-bg: #2c2727;
  --muted: #888;
  --progress-bar-bg: #eee;
  --success: green;
  --error: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg);
}

.main-container {
  background: url(assets/images/blank-black-corporate-stationery-on-600nw-1051434977.webp) no-repeat center center/cover;
  height: 100vh;
  margin-bottom: 45px;
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  margin-bottom: 50px;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
  height: 45px;
}

.nav {
  display: flex;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 25px;
  transition: all 0.3s ease;
}

.nav-links li a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-light);
  font-size: 26px;
  font-weight: 500;
  transition: transform .3s ease;
}

.nav-links li a:hover {
  transform: scale(1.1);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  color: var(--text-light);
  cursor: pointer;
}

.welcome-section {
  display: flex;
  width: 100%;
  align-items: center;
}

.welcome-content {
  width: 50%;
  padding: 0 60px;
  color: var(--text-light);
}

.welcome-content h1 {
  font-size: 3rem;
}

.welcome-content h2 {
  font-size: 1.6rem;
  color: var(--primary);
}

.welcome-content p {
  font-size: 1.1rem;
  opacity: 0.9;
}

.welcome-content a {
  text-decoration: none;
  margin: 30px 15px 0 0;
  color: var(--text-light);
}

.btn {
  display: inline-block;
  padding: 12px 18px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  color: var(--text-light);
  cursor: pointer;
}

.hire-me-btn {
  background-color: var(--primary);
  border: none;

}

.hire-hover {
  transition: all .3s ease;
}

.hire-hover:hover {
  background-color: transparent;
  border: 1px solid var(--bg);
}

.my-portfolio-btn {
  border: 1px solid var(--bg);
  background-color: transparent;
}

.my-portfolio-btn:hover {
  border-color: var(--primary);
  background-color: var(--primary-light);
  transform: scale(1.1);
}

.welcome-img {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 20px 40px rgba(0, 0, 0, 0.3));
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

.about-img {
  width: 30%;
  height: 550px;
  border-radius: 15px 0 15px 0;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.about-content {
  width: 45%;
  color: var(--text-dark);
}

.about-content h4 {
  color: var(--muted);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.about-content h2 {
  margin-bottom: 12px;
  font-size: 30px;
}

.about-content p {
  line-height: 1.5;
}

.about-content>a {
  color: var(--text-light);
  text-decoration: none;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.contact-info p {
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.social-links p {
  margin-right: 30px;
  font-weight: bold;
}

.social-links a {
  margin-right: 25px;
  font-size: 18px;
}

.about-hire-me-btn {
  background-color: var(--primary);
  border: none;
  margin-right: 25px;
}

.about-hire-me-btn:hover {
  background-color: var(--primary-light);
}

.download-cv-btn, .contact-form-btn {
  background-color: var(--primary-light);
}

.download-cv-btn:hover, .contact-form-btn:hover {
  background-color: var(--primary);
}

.services-section,
.projects-section {
  background-color: var(--bg-light);
  padding: 70px 30px;
  color: var(--text-dark);
}

.services-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.service {
  width: 25%;
  height: 250px;
  padding: 20px 30px;
  background-color: var(--bg);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
}

.service i {
  font-size: 30px;
  color: var(--primary);
  margin: 10px 0;
}

.service h3 {
  margin-bottom: 10px;
}

.services-section a {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 40px;
  color: var(--primary);
  font-weight: bold;
}

.skills-section {
  padding: 70px 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.skills-img {
  width: 30%;
  height: 300px;
}

.skills-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.skills-content {
  flex: 1;
  max-width: 500px;
}

.skills-content h4 {
  color: var(--muted);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.skills-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--text-dark);
}

.skills-content p {
  font-size: 14px;
  color: var(--muted);
  margin-bottom: 30px;
}

.skill {
  margin-bottom: 20px;
}

.skill span {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-dark);
}

.progress-bar {
  width: 100%;
  height: 6px;
  background-color: var(--progress-bar-bg);
  border-radius: 4px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

.projects-section h2 {
  color: #333;
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px 60px;
  align-items: stretch;
}

.project {
  background-color: var(--primary-light);
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all .3s ease;
  position: relative;
  height: 420px;
  flex-direction: column;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.project-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  padding: 20px;
}

.project-overlay h3 {
  margin-bottom: 5px;
  font-size: 1.4em;
}

.project-overlay p {
  font-size: 1em;
  color: var(--text-light);
  margin-bottom: 5px;
}

.project-links {
  display: flex;
  gap: 20px;
}

.project-links a {
  width: 45px;
  height: 45px;
  background: var(--bg);
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  transition: all 0.3s ease;
}

.project-links a:hover {
  background: var(--primary);
  color: var(--text-light);
  transform: scale(1.1);
}

.project-links a:focus {
  outline: 2px solid var(--primary);
  outline-offset: 3px;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.project:hover .project-overlay {
  opacity: 1;
}

.contact-footer-section {
  background-color: var(--dark);
}

.contact-form-section {
  padding: 20px 30px;
  text-align: center;
}

.contact-form-section h2 {
  margin-bottom: 30px;
  color: var(--text-light);
}

#contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact-form input,
#contact-form textarea {
  padding: 12px 15px;
  border-radius: 8px;
  border: 1px solid var(--bg);
  font-family: inherit;
  font-size: 14px;
}

#contact-form textarea {
  resize: none;
}

#form-status {
  margin-top: 10px;
  font-size: 14px;
  color: var(--text-light);
  font: 500;
}

#form-status.success {
  color: var(--success);
}

#form-status.error {
  color: var(--error);
}

.footer-section {
  background-color: var(--dark);
  padding: 16px;
  color: var(--text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.footer-links a {
  color: var(--text-light);
}

.footer-links i {
  margin-right: 20px;
  padding: 10px 12px;
  background-color: var(--icon-bg);
  border-radius: 50%;
}

@media (max-width: 768px) {
  .main-container {
    height: auto;
  }

  .logo {
    margin: 0;
  }

  .welcome-section {
    padding: 30px 5px;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .nav-links {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(6px);
    padding: 25px 0;
    gap: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .welcome-section {
    flex-direction: column;
    align-items: center;
  }

  .welcome-content {
    width: 100%;
    margin-left: 0;
  }

  .welcome-img {
    display: none;
  }

  .about-section {
    flex-direction: column;
    align-items: center;
  }

  .about-img {
    width: 90%;
    height: 200px;
    margin-bottom: 20px;
  }

  .about-content {
    width: 90%;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact-info p {
    margin-bottom: 0;
  }

  .services {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .service {
    width: 95%;
    height: auto;
    margin-bottom: 10px;
  }

  .services-section a {
    margin-top: 20px;
  }

  .skills-section {
    flex-direction: column;
    align-items: center;
  }

  .skills-img {
    width: 95%;
    height: 200px;
    margin-bottom: 0;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
  }

  .project {
    width: 100%;
  }

  /* .project-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
  }

  .project:hover {
    transform: none;
  } */

  .footer-section {
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;
  }

  .footer-section p {
    text-align: center;
  }
}

/* Medium screens: Tablets & small laptops */
@media (min-width: 769px) and (max-width: 1200px) {

  /* Main container */
  .main-container {
    height: auto;
    margin-bottom: 40px;
  }

  .header-container {
    padding: 15px 30px;
  }

  .logo {
    width: 250px;
    height: 40px;
  }

  .nav-links li a {
    font-size: 22px;
  }

  .welcome-section {
    flex-direction: row;
    padding: 40px 30px;
    align-items: center;
  }

  .welcome-content {
    width: 60%;
    padding: 0 20px;
  }

  .welcome-content h1 {
    font-size: 2.5rem;
  }

  .welcome-content h2 {
    font-size: 1.4rem;
  }

  .welcome-content p {
    font-size: 1rem;
  }

  .welcome-img {
    width: 40%;
    display: flex;
  }

  .welcome-img img {
    height: 80%;
  }

  .about-section {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 40px;
  }

  .about-img {
    width: 40%;
    height: 400px;
  }

  .about-content {
    width: 55%;
  }

  .about-content h2 {
    font-size: 26px;
  }

  .about-content p {
    font-size: 14px;
  }

  .services {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .service {
    width: 45%;
    height: 220px;
    padding: 15px 20px;
  }

  .skills-section {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .skills-img {
    width: 40%;
    height: 250px;
  }

  .skills-content {
    width: 55%;
    max-width: none;
  }

  .skills-content h2 {
    font-size: 24px;
  }

  .skills-content p {
    font-size: 13px;
  }

  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 40px 30px;
  }

  .project {
    height: 380px;
  }

  .project-overlay h3 {
    font-size: 1.3em;
  }

  .project-overlay p {
    font-size: 0.9em;
  }

  .footer-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px 30px;
  }

  .footer-links i {
    padding: 8px 10px;
    font-size: 16px;
  }
}

